#EditEncodedCondition {
	border: none;
}

.col-NiceDecodedCondition {
	font-size: 16px;
}
	.col-NiceDecodedCondition p {
		margin: 16px 0;
	}

.rule-operator {
	border: 1px solid #ccc;
	padding: 4px 8px;
	background-color: #9FB0BB;
	color: #FFF;
	margin-top: 10px;
}

.rule-param1, .rule-param2 {
	border: 1px solid #ccc;
	padding: 4px 8px;
	margin-top: 10px;
}

.rule-line .remove-rule {
	display: inline-block;
}

.field input.text, .field select.dropdown {
	width: 200px;
	margin: 0 6px;
}

.cms .rule-line .mock-textfield, .cms .rule-line .mock-enumfield {
	display: none;
	width: 137px;
}

	.cms .rule-line .mock-enumfield {
		width: 200px;
	}

	.rule-line .show-mock-textfield .mock-textfield {
		display: inline;
	}

	.rule-line.show-mock-enumfield .mock-enumfield {
		display: inline;
	}

	.rule-line.show-mock-enumfield .param-two .actual{
		display: none;
	}

.cms .rule-line .metadata-dropdown {
	width: 250px;
	margin-left: 0;

	transition: width 0.1s;
	-moz-transition: width 0.1s; /* Firefox 4 */
	-webkit-transition: width 0.1s; /* Safari and Chrome */
	-o-transition: width 0.1s; /* Opera */
}

.cms .rule-line .show-mock-textfield .metadata-dropdown, .cms .rule-line .show-mock-enumfield .metadata-dropdown {
	width: 96px;
}

.metadata-field-separator {
	display: none;
	margin-right: -3px;
	font-size: 1.5em;
}

	.show-mock-textfield .metadata-field-separator {
		display: inline;
	}

/** Reporting */
#Variations label {
	width: 100%
}

.el-report-list {
	width: 25%;
	height: 100%;
	float: left;
	overflow: auto;
}

	.el-report-list .title {
		margin-top: 0;
	}

	.el-report-list li a {
		font-size: 1.2em;
	}

.el-report-detail {
	width: 75%;
	float: left;
}

.el-chart-container {
	margin-top: 1em;
}

.report-message {

}

	.report-message-warning {
		color: #f26522;
	}

	.report-message-error {
		color: #ed1c24;
	}

.secondary-filter-fields {
	margin: 2em 0;
}

	.secondary-filter-fields .toggle {
		display: block;
		margin-bottom: 0.5em;
	}


.el-chart, .el-chart-overview {
	width: 95%;
	height: 550px;
}

.el-chart-overview {
	height: 50px;
	padding-left: 30px;
	margin: 2em 0 1em;
}

	.el-chart-overview .tickLabel {
		visibility: hidden;
	}